@model PagedList.IPagedList<NitStore.Models.Domain.User>
@using PagedList.Mvc;
@{
}


<h1> User List</h1>

<table>
    <thead>
        <tr>
            <th>Stt</th>
            <th>Id</th>
            <th>User Name</th>
            @*<th>Role</th>*@
            <th>Is Active</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    @{int index = 1;}
    <tbody>
        @if(Model != null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@index</td>
                    @{index++;}
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    @*<td>@item.Role</td>*@
                    <td>@item.IsActive</td>
                    <td>@item.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "action-link" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*@if (Model != null && Model.Count() != 0)
{
    <center>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
    </center>
}*@