@{
    Layout = "_LayoutProduct";
}
<div class="d-flex container-fluid justify-content-center">
    <div class="w-75 mt-5">
        <button type="button" class="btn btn-success">Add New Product</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">CategoryName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th class="justify-content-center text-center" scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            @{
                int index = 1;
            }
            <tbody>
                @foreach (var item in ViewBag.ListProduct)
                {
                    <tr>
                        
                        <th scope="row">@index</th>
                        @{
                            index++;
                        }
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Status</td>
                        <td>@item.Quantity</td>
                        <td>@item.CategoryName</td>
                        <td>@item.Price</td>
                        <td><img src="data:image;base64,@System.Convert.ToBase64String(item.imageBit)" /></td>
                        <td class="justify-content-center text-center">
                            <button type="button" class="btn btn-danger">Remove</button>
                            <button type="button" class="btn btn-warning">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>